body {
    
    font-family:'Josefin Slab', serif;
    font-size:16px;
    background-image: url(sos.png);
    
}

.navbar-color{
    background-color:#aac9c7 !important;
}

.attendee-info {
    
    margin-bottom: 20cm;

}

#splash {
    margin-bottom: 25px;
    font-size: 18px;
}

#logo {

    height:200px;
    text-align:center;
    padding:10px;
}

#logo-text {

    font-size:18px;
    text-align:center;
}

.list-group-item-heading{

    font-weight: bold;
}

.btn-primary {

    margin-bottom: 0.5cm;
}

.delete-button {

    align-self: left;
    margin-top:0px;
    margin-bottom: 0px;
}

.save-button {

    margin-bottom: 5px;
}

#relation-delete{

    margin-top:0.5cm;
    margin-bottom:0.5cm;
}
