body {
    
    font-family:'Josefin Slab', serif;
    font-size:16px;
   
    
};
.attendee-info {
    
    margin-bottom: 20cm;

};

#splash {
    margin-bottom: 25px;
    font-size: 18px;
}

#logo {

    height:200px;
    text-align:center;
    padding:10px;
}

#logo-text {

    font-size:18px;
    text-align:center;
}

.list-group-item-heading{

    font-weight: bold;
}

.btn {

    margin-bottom: 0.5cm;
}
