{% extends 'base.html' %}
{% block title %}Seater{% endblock %}
{% block content %}
<div>
  <h2>{{ attendee.first_name }} {{ attendee.last_name }}</h2>

  <div class=attendee-info>Email: {{ attendee.attendee_email }}
  </div>

  <div class=attendee-info>Address: {{ attendee.street }}, {{ attendee.city }},
   {{attendee.state }} {{ attendee.zipcode }}
  </div>

  <div class=attendee-info>Vip: {% if attendee.is_vip == 't' %} 
        Yes
        {% else %}
        No
        {% endif %}
  </div>

  <div class=attendee-info>Meal Request: {{ attendee.meal_request }}
  </div>

  <div class=attendee-info>Note: {{ attendee.note }}
  </div>

  <div class=attendee-info>Event Attending: {{ attendee.event.event_name }}
  </div>
</div>

<div>
  <h2>Relationships</h2>
  <form action='/attendee-relationship'>
    <label>Select an Attendee</label>
    <select name='secondary-attendee'>
      {% for attendee in attendees %}
        <option value='{{ attendee.attendee_id }}'>{{ attendee.first_name }} {{ attendee.last_name }}</option>
      {% endfor %}
    </select>
  </form>
</div>
{% endblock %}  

  

