{% extends 'base.html' %}
{% block title %}Seater{% endblock %}
{% block content %}
<!--display attendee-->
<div>
  <h2>{{ attendee.first_name }} {{ attendee.last_name }}</h2>

  <div class=attendee-info>Email: {{ attendee.attendee_email }}
  </div>

  <div class=attendee-info>Address: {{ attendee.street }}, {{ attendee.city }},
   {{attendee.state }} {{ attendee.zipcode }}
  </div>

  <div class=attendee-info>Vip: {% if attendee.is_vip == 't' %} 
        Yes
        {% else %}
        No
        {% endif %}
  </div>

  <div class=attendee-info>Meal Request: {{ attendee.meal_request }}
  </div>

  <div class=attendee-info>Note: {{ attendee.note }}
  </div>

  <div class=attendee-info>Event Attending: {{ attendee.event.event_name }}
  </div>
  <!--table assignment-->
  <div class=attendee-info>
  {% if attendee.table_id %}
    Assigned Table: <a href='/table-info/{{ attendee.table_id }}'>{{ attendee.table_id }}, {{ attendee.table.table_name }}</a>
  {% else %}
    Assigned Table: Not Assigned Yet
  {% endif %}
  </div>
</div>
<!--create relationships-->
<div>
  <h2>Create Relationships</h2>
  <form action='/attendee/{{ attendee.attendee_id }}' method='POST'>

    <label>Select an Attendee</label>
    <select name='secondary-attendee'>
      {% for attendee in attendees | sort(attribute='last_name') %}
        <option value='{{ attendee.attendee_id }}'>{{ attendee.first_name }} {{ attendee.last_name }}</option>
      {% endfor %}
    </select>

    <label>Select an Attendee</label>
    <select name='relationship-code'>
        <option value='must'>Must sit with</option>
        <option value='want'>Want to sit with</option>
        <option value='must_not'>Must not sit with</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>
<!--list of relationships-->
<div>
  <h2>Established Relationships</h2>

  <ul>
      {% for secondary_attendee, relationship_code in relationships_with_attendee %}
      <li>
        <a href='/attendee/{{ secondary_attendee.attendee_id }}'>
        {{ secondary_attendee.last_name }}, {{ secondary_attendee.first_name }} - {{ relationship_code }}
        </a>
      </li>
      {% endfor %}
  </ul>

</div>
{% endblock %}  

  

