
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.rawgit.com/konvajs/konva/1.6.3/konva.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <meta charset="utf-8">
    <title>Konva Drag and Drop a Group Demo</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #container {
          background-color: gray;

        }
    </style>
</head>
<body>

<div id="container"></div>
<form id='json-form' action='/table_assignments' method="GET">
  <input type='submit' name='btn' value='Get Json'>
</form>

<script>
"use strict";
  function showJson(json) {
    console.log(json);
  }

  function getJson(evt) {
    evt.preventDefault();

    $.get('/assignment-info.json',
          showJson);

  }
  $('#json-form').on('submit', getJson);
</script>

<script>
"use strict";
  //create the stage
    var width = 600;
    var height = 600;
    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height
    });
  //create layer one
    var shapesLayer = new Konva.Layer();
  
  //create a group
    var tableOne = new Konva.Group({
        draggable: true
    });
  // create text
  var complexText = new Konva.Text({
      x: 60,
      y: 50,
      text: 'Nura Renke',
      fontSize: 18,
      fontFamily: 'Calibri',
      fill: '#555',
      width: 100,
      padding: 10,
      align: 'center'
    });
  
  //create seats
    var seat1 = new Konva.Circle({
        x: 60,
        y: 50,
        width: 200,
        height: 50,
        name: seat1,
        fill: 'yellow',
        stroke: 'black',
        strokeWidth: 4
    });
    var seat2 = new Konva.Circle({
        x: 100,
        y: 200,
        width: 100,
        height: 50,
        name: seat2,
        fill: 'yellow',
        stroke: 'black',
        strokeWidth: 4
    });
  
  
  //add seats to the group so that they move around together
    tableOne.add(seat1);
    tableOne.add(complexText);
    tableOne.add(seat2);
  
    tableOne.on('mouseover', function() {
        document.body.style.cursor = 'pointer';
    });
    tableOne.on('mouseout', function() {
        document.body.style.cursor = 'default';
    });
  
  // add tableOne to layer one
    shapesLayer.add(tableOne);
  
  // add layer one to the stage
    stage.add(shapesLayer);
</script>
</body>
</html>