{% extends 'base.html' %}
{% block title %}Edit Event{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
    
    $('#navbar-ul-li-a').attr("href", "/event={{event.event_id}}/event-info/")
    $('#navbar-ul-li-a').html("Go back to: {{ event.event_name }}")
  
})
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="well spaced">
            <h2>Edit Event</h2>

            <form action="/event={{ event.event_id }}/update-event" method="POST">

                <div class="form-group">
                    <label>
                        Event Name
                        <input type="text" name="event_name" class="form-control" value='{{ event.event_name }}'>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Event Description
                        <input type="text" name="event_description" class="form-control" value='{{ event.event_description }}'>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Location
                        <input type="text" name="location" class="form-control" value='{{ event.location }}'>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Time
                        <input type="text" name="time" class="form-control" value="{{ event.time }}">
                    </label>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary save-button">Save</button>
                </div>

            </form>
            <form  action='/event={{ event.event_id }}/delete-event' method="POST">
                <div class="form-group">
                    <button type="button" class="btn btn-primary delete-button">Delete</button>
                </div>
            </form>
            </div>
        <!--End of Column-->
        </div>
    <!--End of Row-->
    </div>
<!--End of Container-->
</div>

{% endblock %}