{% extends 'base.html' %}
{% block title %}Tables{% endblock %}
{% block content %}

{% if table != None %}
<!--Display table info-->
<div class="well spaced" style="width:40%;">
  <h2>Edit Table</h2>

  <form class="form-horizontal" action='/event={{ event_id }}/update-table/table={{ table.table_id }}' method='POST'>
    <div class="form-group"> 
      <label>Table Name</label>
      <input type='text' name='table-name' value='{{ table.table_name }}'>
    </div>
    <div class="form-group"> 
      <label>Number of Seats</label>
      <input type='number' name='max-seats' value='{{ table.max_seats }}'>
    </div>
    <div class="form-group"> 
      <input type='submit' name='btn' value='Save'>
    </div>
  </form>
  <form class="form-horizontal" action='/event={{ event_id }}/delete-table/table={{ table.table_id }}' method='POST'>
    <div class="form-group"> 
      <input type='submit' name='btn' value='Delete'>
    </div>
  </form>
</div>

<div>
<h2>Seated at Table</h2>
{%if seated_at_table %}
  <ul>
      {% for attendee in seated_at_table %}
      <li><a href="/attendee/{{ attendee.event_id }}/{{ attendee.attendee_id }}">{{ attendee.first_name }} {{ attendee.last_name }}</a></li>
      {% endfor %}
      
  </ul>
{% else %}
  <p>You do not have any arrangements yet.</p>
{% endif %}
</div>

{% else %}
<!--Create a Table-->
<div class="well spaced" style="width:40%;">
  <h2>Create your Tables:</h2>

  <form class="form-horizontal" action='/event={{ event_id }}/create-tables/' method='POST'>
    <div class="form-group"> 
      <label>Table Name</label>
      <input type='text' name='table-name'><br><br>
    </div>
    <div class="form-group">
      <label>Number of Seats</label>
      <input type='number' name='max-seats'>
    </div>
    <div class="form-group">
      <input type='submit' name='btn' value='Submit'>
    </div>
  </form>

</div>
{% endif %}
{% endblock %}