{% extends 'base.html' %}
{% block title %}Tables{% endblock %}
{% block content %}

{% if table != None %}
<!--Display table info-->
<div>
<h2>{{ table.table_name }}</h2>
<h3>Max Seats: {{ table.max_seats }}</h3>
</div>

<div>
<h2>Seated at Table</h2>
<ul>
    {% for attendee in seated_at_table %}
    <li><a href="/attendee/{{ attendee.event_id }}/{{ attendee.attendee_id }}">{{ attendee.first_name }} {{ attendee.last_name }}</a></li>
    {% endfor %}
    
</ul>
</div>

{% else %}
<!--Create a Table-->
<div class='col-6'>
  <h2>Create your Tables:</h2>

  <form action='/event={{ event_id }}/create-tables/' method='POST'>

  <label>Table Name</label>
  <input type='text' name='table-name'><br><br>
  <label>Number of Seats</label>
  <input type='number' name='max-seats'>
  <input type='submit' name='btn' value='Submit'>
  </form>

</div>
{% endif %}
{% endblock %}