{% extends 'base.html' %}
{% block title %}Table Arrangments{% endblock %}
{% block content %}
<div>
<!--Display seating arrangements-->
<h2>Table Assignments</h2>
<ul>
{% if assigned_attendees %}
    {% for table in assigned_tables %}
        <h3>{{ table.table_name }} - {{ table.max_seats}} Seats</h3>
        <ul> 
        {% for attendee in assigned_attendees %}
            {% if attendee.table_id == table.table_id %}
                <li>{{ attendee.last_name }}, {{ attendee.first_name }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No Assignments</p>
{% endif %}
</div>
<!--Create Assignments Button-->
<div>
    <h2>Create your Seating Arrangements</h2>
    <form action='/event={{ event_id }}/table-assignments/' method="POST">
    <input type='submit' name='btn' value='Create Seating Arrangements'>
    </form>
</div>
<div><br>
    <form action='/event={{ event_id }}/clear-table-assignments/' method="POST">
    <input type='submit' name='btn' value='Clear Seating Arrangements'>
    </form>
</div>
{% endblock %}